<h1>Customers</h1>

<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.first_name %>
    </li>
  <% end %>
</ul>
<h1>Customers</h1>

<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.last_name %>
    </li>
  <% end %>
</ul>

